# edit
*~
*#
.*#

# Compiled
*.elc

# Packaging
.cask

# data files
*.csv
*.json
*.ndjson
*.svg
*.tsv
*.xlsx
*.zip

#Archive files
README.txt
*.pdf

# automatic generated table files
table_*.sql

# geography files
*.dbf
*.prj
*.qgs
*.qix
*.qml
*.qpj
*.shp
*.shx

